---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?aqi=no&days=5&q=Indianapolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 0b25aec4ab61404eb7554911241401
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999869'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 16:13:35
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - cb00fb9b07244f4dea7827470de63812
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Indianapolis","region":"Indiana","country":"United
        States of America","lat":39.77,"lon":-86.16,"tz_id":"America/Indiana/Indianapolis","localtime_epoch":1705421576,"localtime":"2024-01-16
        11:12"},"current":{"last_updated_epoch":1705420800,"last_updated":"2024-01-16
        11:00","temp_c":-15.0,"temp_f":5.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":275,"wind_dir":"W","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"humidity":69,"cloud":75,"feelslike_c":-23.2,"feelslike_f":-9.8,"vis_km":16.0,"vis_miles":9.0,"uv":1.0,"gust_mph":12.5,"gust_kph":20.2},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-11.6,"maxtemp_f":11.2,"mintemp_c":-14.4,"mintemp_f":6.1,"avgtemp_c":-13.2,"avgtemp_f":8.2,"maxwind_mph":12.5,"maxwind_kph":20.2,"totalprecip_mm":0.83,"totalprecip_in":0.03,"totalsnow_cm":0.69,"avgvis_km":9.0,"avgvis_miles":5.0,"avghumidity":75,"daily_will_it_rain":1,"daily_chance_of_rain":84,"daily_will_it_snow":0,"daily_chance_of_snow":25,"condition":{"text":"Patchy
        moderate snow","icon":"//cdn.weatherapi.com/weather/64x64/day/329.png","code":1216},"uv":2.0},"astro":{"sunrise":"08:04
        AM","sunset":"05:45 PM","moonrise":"11:24 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705381200,"time":"2024-01-16
        00:00","temp_c":-13.5,"temp_f":7.7,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":7.4,"wind_kph":11.9,"wind_degree":305,"wind_dir":"NW","pressure_mb":1025.0,"pressure_in":30.26,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":71,"cloud":100,"feelslike_c":-19.6,"feelslike_f":-3.3,"windchill_c":-19.6,"windchill_f":-3.3,"heatindex_c":-13.5,"heatindex_f":7.7,"dewpoint_c":-17.7,"dewpoint_f":0.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.6,"gust_kph":15.4,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705384800,"time":"2024-01-16
        01:00","temp_c":-13.5,"temp_f":7.7,"is_day":0,"condition":{"text":"Overcast","icon":"//cdn.weatherapi.com/weather/64x64/night/122.png","code":1009},"wind_mph":6.0,"wind_kph":9.7,"wind_degree":302,"wind_dir":"WNW","pressure_mb":1024.0,"pressure_in":30.24,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":71,"cloud":89,"feelslike_c":-19.9,"feelslike_f":-3.8,"windchill_c":-19.9,"windchill_f":-3.8,"heatindex_c":-13.5,"heatindex_f":7.7,"d[...]
