---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?aqi=no&days=5&q=Indianapolis
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 0b25aec4ab61404eb7554911241401
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999873'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 08:14:06
      Cdn-Edgestorageid:
      - '871'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 2399b27a1856ba1d310fa3a52a1fca62
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Indianapolis","region":"Indiana","country":"United
        States of America","lat":39.77,"lon":-86.16,"tz_id":"America/Indiana/Indianapolis","localtime_epoch":1705392807,"localtime":"2024-01-16
        3:13"},"current":{"last_updated_epoch":1705392000,"last_updated":"2024-01-16
        03:00","temp_c":-13.3,"temp_f":8.1,"is_day":0,"condition":{"text":"Light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/326.png","code":1213},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":290,"wind_dir":"WNW","pressure_mb":1021.0,"pressure_in":30.14,"precip_mm":0.06,"precip_in":0.0,"humidity":75,"cloud":100,"feelslike_c":-20.8,"feelslike_f":-5.3,"vis_km":4.0,"vis_miles":2.0,"uv":1.0,"gust_mph":16.3,"gust_kph":26.3},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":-11.5,"maxtemp_f":11.3,"mintemp_c":-14.2,"mintemp_f":6.4,"avgtemp_c":-13.0,"avgtemp_f":8.6,"maxwind_mph":12.8,"maxwind_kph":20.5,"totalprecip_mm":0.52,"totalprecip_in":0.02,"totalsnow_cm":0.42,"avgvis_km":9.4,"avgvis_miles":5.0,"avghumidity":71,"daily_will_it_rain":1,"daily_chance_of_rain":71,"daily_will_it_snow":0,"daily_chance_of_snow":23,"condition":{"text":"Patchy
        moderate snow","icon":"//cdn.weatherapi.com/weather/64x64/day/329.png","code":1216},"uv":2.0},"astro":{"sunrise":"08:04
        AM","sunset":"05:45 PM","moonrise":"11:24 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1705381200,"time":"2024-01-16
        00:00","temp_c":-12.5,"temp_f":9.4,"is_day":0,"condition":{"text":"Light freezing
        rain","icon":"//cdn.weatherapi.com/weather/64x64/night/311.png","code":1198},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":295,"wind_dir":"WNW","pressure_mb":1025.0,"pressure_in":30.25,"precip_mm":0.01,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":100,"feelslike_c":-18.9,"feelslike_f":-2.0,"windchill_c":-18.9,"windchill_f":-2.0,"heatindex_c":-12.5,"heatindex_f":9.4,"dewpoint_c":-16.3,"dewpoint_f":2.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":62,"vis_km":10.0,"vis_miles":6.0,"gust_mph":10.6,"gust_kph":17.1,"uv":1.0},{"time_epoch":1705384800,"time":"2024-01-16
        01:00","temp_c":-12.8,"temp_f":9.0,"is_day":0,"condition":{"text":"Light snow","icon":"//cdn.weatherapi.com/weather/64x64/night/326.png","code":1213},"wind_mph":6.9,"wind_kph":11.2,"wind_degree":283,"wind_dir":"WNW","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.04,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":100,"feelslike_c":-19.5,"feelslike_f":-3.1,"win[...]
