---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?aqi=no&days=5&q=47.73817,11.02133
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Key:
      - 0b25aec4ab61404eb7554911241401
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999828'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/17/2024 01:28:54
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 57dc37fbf8773324014859b18868f1cf
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Peiting","region":"Bayern","country":"Germany","lat":47.74,"lon":11.02,"tz_id":"Europe/Berlin","localtime_epoch":1705454895,"localtime":"2024-01-17
        2:28"},"current":{"last_updated_epoch":1705454100,"last_updated":"2024-01-17
        02:15","temp_c":-3.1,"temp_f":26.4,"is_day":0,"condition":{"text":"Patchy
        moderate snow","icon":"//cdn.weatherapi.com/weather/64x64/night/329.png","code":1216},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":188,"wind_dir":"S","pressure_mb":1007.0,"pressure_in":29.73,"precip_mm":0.14,"precip_in":0.01,"humidity":79,"cloud":85,"feelslike_c":-5.2,"feelslike_f":22.7,"vis_km":7.0,"vis_miles":4.0,"uv":1.0,"gust_mph":6.6,"gust_kph":10.6},"forecast":{"forecastday":[{"date":"2024-01-17","date_epoch":1705449600,"day":{"maxtemp_c":5.4,"maxtemp_f":41.6,"mintemp_c":-3.8,"mintemp_f":25.1,"avgtemp_c":0.5,"avgtemp_f":32.8,"maxwind_mph":7.4,"maxwind_kph":11.9,"totalprecip_mm":2.26,"totalprecip_in":0.09,"totalsnow_cm":1.88,"avgvis_km":8.3,"avgvis_miles":5.0,"avghumidity":85,"daily_will_it_rain":1,"daily_chance_of_rain":90,"daily_will_it_snow":0,"daily_chance_of_snow":29,"condition":{"text":"Moderate
        or heavy snow showers","icon":"//cdn.weatherapi.com/weather/64x64/day/371.png","code":1258},"uv":1.0},"astro":{"sunrise":"07:59
        AM","sunset":"04:53 PM","moonrise":"11:06 AM","moonset":"No moonset","moon_phase":"Waxing
        Crescent","moon_illumination":37,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1705446000,"time":"2024-01-17
        00:00","temp_c":-3.2,"temp_f":26.3,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.3,"wind_kph":6.8,"wind_degree":173,"wind_dir":"S","pressure_mb":1009.0,"pressure_in":29.8,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":78,"cloud":33,"feelslike_c":-6.0,"feelslike_f":21.2,"windchill_c":-6.0,"windchill_f":21.2,"heatindex_c":-3.2,"heatindex_f":26.3,"dewpoint_c":-6.5,"dewpoint_f":20.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.9,"gust_kph":14.4,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705449600,"time":"2024-01-17
        01:00","temp_c":-3.8,"temp_f":25.1,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":173,"wind_dir":"S","pressure_mb":1008.0,"pressure_in":29.76,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":78,"cloud":47,"feelslike_c":-7.1,"feelslike_f":19.3,"windchill_c":-7.1,"windchill_f":19.3,"heatindex_c":-3.8,"heatindex_f[...]
